/*generations title overlay styles*/
.gen-title-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #EBD58D;
}

.gen-title-container {
    position: relative;
    width: 100%;
}

.gen-title-container:hover .gen-title-overlay {
    opacity: 1;
}

.gen-title-text {
    color: #404245;
    font-size: 18px;
    font-family: 'DynaPuff';
    position: absolute;
    top: 20%;
    left: 5%;
    right: 5%;
    /*-webkit-transform: translate(-50%, -50%);*/
    /*-ms-transform: translate(-50%, -50%);*/
    /*transform: translate(-50%, -50%);*/
    text-align: center;
}

/*generations overlay styles*/
.gen-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #d79595;
}

.gen-container {
    position: relative;
    width: 100%;
}

.gen-container:hover .gen-overlay {
    opacity: 1;
}

.gen-text-main{
    color: lightgoldenrodyellow;
    font-size: 16px;
    font-family: 'DynaPuff';
    position: relative;
    top: 30px;
    left: 5%;
    margin-right: 10px;
    /*-webkit-transform: translate(-50%, -50%);*/
    /*-ms-transform: translate(-50%, -50%);*/
    /*transform: translate(-50%, -50%);*/
    text-align: center;
}

.gen-text-body {
    color: white;
    font-size: 14px;
    font-family: 'DynaPuff';
    position: relative;
    top: 40px;
    left: 5%;
    right: 5%;
    padding-right: 20px;
    /*-webkit-transform: translate(-50%, -50%);*/
    /*-ms-transform: translate(-50%, -50%);*/
    /*transform: translate(-50%, -50%);*/
    text-align: center;
}